@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    padding: 0px 8px;
    height: 80px;
    
}
.logo{
    width: 80px;
    height: 80px;
}

.nav-items{
    font-size: 25px;
}
.nav-items > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-items>ul>li{
    list-style: none;
    padding: 0px 10px;
}

.res-card{
    display: flex;
    flex-direction: column;   
    width: 180px;
    height: 250px;
    padding: 15px;
    
   
}
.res-card:hover{
    border: 1px solid black;

}
.res-card img{
    border-radius: 2px;
 height: 50%;
 width: 100%;
 object-fit: cover;
}
.filter-data{
    padding: 10px;
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.all-text > h4{
    margin-top: 2px;
    font-weight: 300;
   font-size: 16px;
   margin-bottom: 3px;
   
}
.all-text > h5{
    font-weight: 300;
    margin: 0px 0px;
    opacity: 50%;
    margin-bottom: 12px;
    font-size: 11px;
    
}
.line-text{
    display: flex; 
    /* align-items: center; */
    /* justify-content: space-between; */
    /* font-size: 13px; */
    
}


.line-text h6:first-child {
    background-color: green;
    color: white;
    opacity: 100%;
    padding: 1px 3px;
    text-align: center;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.shimmer-card{
    margin: 10px;
    height: 210px;
    width: 150px;
    background-color: #f0f0f0;
}
.btn-log{
    padding: 0px 20px;
    cursor: pointer;
}
.search{
    display: flex;
    gap: 5px;
    padding-left: 40px;
}
.open{
    font-size: 10px;
    position: absolute;
    background-color: orange;
    padding: 2px 2px;
    color: white;
    margin: 3px;
}